div(class="row")
    div(class="col")
        table(class="table table-striped")
            thead(class="thead")
                th Distance
                th Time
            tbody(class="table table-striped")
                each pace in list
                    tr
                        td= pace.distanceString
                        td= pace.paceString
